<!DOCTYPE html>
<html>
<head>
    <title>Email - Add</title>
</head>
<body>
<h1>Add New Email</h1>
<form action="/email/insert" method="get">
    main_email: <input name="main_email" type="text" />
    work_email: <input name="work_email" type="text" />
    <br />
    <input type="submit"  />
</form>
</body>
</html>