<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
    <h1> Homepage</h1>
</head>
<body>
<table>
<tr>
    <td>
    <a href="/phone_number/all">
    Phone Number
    </a>
    </td>
</tr>
<tr>
    <td>
  <a href="/name/all">
    Name/Queries
  </a>
    </td>
</tr>
<tr>
    <td>
  <a href="/physical_address/all">
    Physical Address
  </a>
    </td>
</tr>
<tr>
    <td>
  <a href="/email/all">
    Email
  </a>
    </td>
</tr>
<tr>
    <td>
    <a href="/queries/all">
        Queries
    </a>
    </td>
</tr>
</table>
</body>
</html>