<!DOCTYPE html>
<html>
<head>
    <title>Physical Address - Add</title>
</head>
<body>
<h1>Add New Physical Address</h1>
<form action="/physical_address/insert" method="get">
    street_num: <input name="street_num" type="text" />
    street: <input name="street" type="text" />
    zip_code: <input name="zip_code" type="text" />
    <br />
    <input type="submit"  />
</form>
</body>
</html>