<!DOCTYPE html>
<html>
<head>
    <title>Phone Number - Add</title>
</head>
<body>
<h1>Add New Phone Number</h1>
<form action="/phone_number/insert" method="get">
    cell_num: <input name="cell_num" type="text" />
    work_num: <input name="work_num" type="text" />
    home_num: <input name="home_num" type="text" />
    <br />
    <input type="submit"  />
</form>
</body>
</html>