<!DOCTYPE html>
<html>
<head>
    <title>Name - Edit</title>
</head>
<body>
<h1>Edit </h1>
<form action="/name/update" method="get">
    <input type="hidden"
           id="name_id"
           name="name_id"
           value="<%= name.name_id %>"
    />
    First_Name: <input
            id="first_name"
            name="first_name"
            type="text"
            value="<%= name.first_name %>"
    />
    Middle_initial: <input
            id="middle_init"
            name="middle_init"
            type="text"
            value="<%= name.middle_init %>"
    />
    Last_Name: <input
            id="last_name"
            name="last_name"
            type="text"
            value="<%= name.last_name %>"
    />
    <input type="submit"  />
</form>
</body>
</html>