<!DOCTYPE html>
<html>
<head>
    <title>Name - Add</title>
</head>
<body>
<h1>Add New Name</h1>
<form action="/name/insert" method="get">
    first_name: <input name="first_name" type="text" />
    last_name: <input name="last_name" type="text" />
    middle_init: <input name="middle_init" type="text" />
    <br />
    <input type="submit"  />
</form>
</body>
</html>